<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf8">
    <title>世界の天気</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div id="header">
      <div>
        <h3 class="title">世界の天気</h3>
      </div>
    </div>
  </header><!-- /header -->
  <body>
    <%= yield %>
  </body>
</html>
